<h1>Editing arriendo</h1>

<%= render "form", arriendo: @arriendo %>

<br>

<div>
  <%= link_to "Mostrar Arriendo", @arriendo, class:"btn btn-info" %> |
  <%= link_to "Volver a arriendos", arriendos_path,class:"btn btn-secondary" %>
</div>
